header{
	padding: 10px;
	padding-bottom: 10px;
}

header a {
    background-color: #003366; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

form button {
    background-color: #CC3300; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
}

h3 {
    display: inline-block;
}




#leftsidebar {
	position: absolute;
	display: block;
}

#leftsidebar button {
	background-color: #006666; 
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    margin-left: 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#main {
	display: block;
	margin-left: 200px;
	width: 60%;
}


.rightsidebar {	
   position: absolute;
   padding: 20px;
   background-color: lightblue;
   top:85px;
   right:50px;
}


#boxes {
	display: inline-block;
	float: right;
}



