.filters {
	margin-top: 60px;
	margin-bottom: 30px;
}

.course-item {
	margin-bottom: 30px;	
} 

@media min-width: 990px {
	.courseBox {
		width: 50%;
	}
}

.courseBox {
	display: inline-block;
	color: white;
	height: 60%;
	width: 100%;
	border: solid 1px #333;
	border-radius: 5px;
	background-color: #fff5ee;
	margin: 5px;
}

.courseBox .course-label {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #333;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.courseBox .course-text {
	color: black;
	padding-right: 10px;
	padding-left: 10px;
}

.courseBox:hover{
	text-decoration: none;
	background-color: #98fb98;
}

.content-block {
	display: block;
	margin-top: 50px;
	margin-bottom: 100px;
}

.checkbox-div {
	margin-top: 5px;
}

.checkbox-inline {
	font-size: 16px;
}

.wrap {
	background-color: #ddd;
	padding-top: 40px;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 5px;
}