/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #f5f5f5;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  /*background-image: url("../images/bg_img.jpg");
  background-size: cover;*/
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.background-img {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  background-image: url("../images/IMG_4657.JPG");
  background-size: cover;
  height: 100%;
  filter: blur(10px);
  z-index: 0;
}

.background-circle {
  position: fixed;
  height: 500px;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #708090;
  background-size: cover;
  border: 3px solid #333;
  border-radius: 50px; 
  opacity: ..8;
  z-index: 2;
}

.btn-default:hover {
  background-color: #d3d3d3 !important;
  border-color: #d3d3d3 !important;
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  position: static;
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Header
 */
.masthead-brand {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;

}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #a9a9a9;
    transition: width .3s;
}

.masthead-nav > li > a:hover::after {
    width: 100%;
    //transition: width .3s;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    display: block;
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.content {
  position: static;
  overflow: hidden;
  z-index: 999;
}

@media (max-height: 660px) {
  .content {
    padding-top: 100px;
  }
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
