<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSE 123 - CheckMyClass</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/overview.css" rel="stylesheet">
    <link href="../css/cover-1.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="../js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/authenticate.js"></script> 
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="../js/ratings.js"></script> 
    <script src="../js/editing.js"></script>
  </head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="nav-wrap">
        <div class="cover-container">
          <div class="masthead clearfix">
          <div class="nav-container">
            <div class="inner">
              <h3 class="masthead-brand"><a href="index.html">CheckMyClass</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a id="logout-btn" href="login_signup.html">Log Out</a></li>
                  <li class="active"><a href="class_finder.html">Classes</a></li> 
                </ul>
              </nav>
            </div>
            </div>
          </div>
        </div>
        </div>

        <div class="container">
            <section id="leftsidebar">
                <ul class="nav nav-tabs" style="list-style: none;">
                    <li><a href="overview.html">Overview</a></li>
                    <li><a href="professors.html">Professor</a></li>
                    <li><a href="ta.html">TAs</a></li>
                    <li><a href="feedback.html">Feedback</a></li>
                </ul>
            </section>
		<div class="col-sm-8" id="prof-rating-form">
			<h1> CSE 123 </h1>
   		<h2>Professor X</h2>
			<form>
      	<button class="btn btn-default btn-rate pull-right" formaction="prof_rating.html">Rate</button>
      </form>
			<h3 class="ratings">Grading Difficulty: {{prof_ratings[0]['.value']}}<br/>Helpfulness:  {{prof_ratings[1]['.value']}}<br/>Overall Rating:  {{prof_ratings[2]['.value']}}</h3>
      <form>
      	<button class="btn btn-default btn-edit pull-right" formaction="prof_edit.html">Edit</button>
    	</form>
					
	  </div>
    <div id="prof-edit-form">
      <article class="col-sm-8" id="description" >
        <h2>Description</h2>
        {{prof_edits[0]['.value']}}
      </article>

  		<section class="col-sm-4" id="rightsidebar">
  			<p>Professor X</p>
  			<img src="" alt="Prof">
  			<section id="contactinfo">
  				<h3>Contact Info</h3>
  				Professor X <br>
  				Email: {{prof_edits[1]['.value']}} <br>
  				Office Hours: {{prof_edits[2]['.value']}} <br>
  			</section>	
  		</section>
    </div>

	  </div>
	  </div>
	  </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>

	</body>
</html>