<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSE 123 - CheckMyClass</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/overview.css" rel="stylesheet">
    <link href="../css/cover-1.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="../js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/authenticate.js"></script> 
    <script src="../js/ratings.js"></script> 
  </head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="nav-wrap">
        <div class="cover-container">
          <div class="masthead clearfix">
          <div class="nav-container">
            <div class="inner">
              <h3 class="masthead-brand"><a href="index.html">CheckMyClass</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a id="logout-btn" href="login_signup.html">Log Out</a></li>
                  <li class="active"><a href="class_finder.html">Classes</a></li> 
                </ul>
              </nav>
            </div>
            </div>
          </div>
        </div>
        </div>

        <div class="container">
            <section id="leftsidebar">
                <ul class="nav nav-tabs" style="list-style: none;">
                    <li><a href="overview.html">Overview</a></li>
                    <li><a href="professors.html">Professor</a></li>
                    <li><a href="ta.html">TAs</a></li>
                    <li><a href="feedback.html">Feedback</a></li>
                </ul>
            </section>

			<main class="col-sm-8" id = "ta-rating-form">

				<h1> CSE 123 </h1>
				<h2>John Doe</h2>
        <form>
              <button class="btn btn-default btn-rate pull-right" formaction="ta_rating.html">Rate</button>
        </form>
				<h3 class="ratings">Helpfulness: {{ta_ratings[6]['.value']}}<br/>Overall Rating: {{ta_ratings[7]['.value']}}</h3>
        <form>
		        	<button class="btn btn-default btn-edit pull-right" formaction="ta_edit.html">Edit</button>
		    	</form>
				<article id="description">
					<h2>Description</h2>
					He REALLY makes sure you understand everything. Any holes in your understanding will definitely hurt you, but he is willing to help you work past it. <br>
					That aside, he is a great TA who cares about your success in the class.
				</article>
				
			</main>

			<section class="col-sm-4" id="rightsidebar">
        <p>John Doe</p>
				<img src="https://proofreadmyessay.co.uk/img/testimonial/Young_man_with_dimples1424606841.jpg" alt="TA" width="220" height="235">
				<section id="contactinfo">
					Contact John Doe <br>
					Email: johndoe@ucsd.edu <br>
					Office Hours: 24/7 CSE Basement
				</section>	
			</section>
		</div>
	</div>
  </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
