<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="data"></title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../css/cover-1.css" rel="stylesheet">
    <link href="../css/overview.css" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/authenticate.js"></script> 
    <script src="../js/feedback.js"></script> 
    <script src="../js/title.js"></script>

  </head>

<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="nav-wrap">
        <div class="cover-container">
          <div class="masthead clearfix">
          <div class="nav-container">
            <div class="inner">
              <h3 class="masthead-brand"><a href="index.html">CheckMyClass</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a id='logout-btn' href="login_signup.html">Log Out</a></li>
                  <li><a href="class_finder.html">Classes</a></li> 
                </ul>
              </nav>
            </div>
            </div>
          </div>
        </div>
        </div>

        <div class="container">
            <section id="leftsidebar">
                <ul class="nav nav-tabs" style="list-style: none;">
                    <li><a href="overview.html">Overview</a></li>
                    <li><a href="professors.html">Professor</a></li>
                    <li><a href="ta.html">TAs</a></li>
                    <li class="active"><a href="feedback.html">Feedback</a></li>
                </ul>
            </section>

			<main id="feed">
				<h1 id="className"></h1>
				<h2 style="margin-bottom: 20px">Feedback</h2>
				<div class="feedback-entry" v-for="feedback in feedbackList" >
					<div class="feedback-user">
						<h3 id="nameFb" class="ratings">{{feedback.name}}</h3>
            <h4 class="ratings" style="float: right; margin-right: 50px;"> Rating: {{feedback.rating}}</h4>
					</div>
					<article class="feedback-text" id="description">
						{{feedback.comment}}
					</article>

          <button class="btn btn-danger" @click="removeFeedback(feedback['.key'])">Remove</button>
				</div>	
		  
        <div class="feedback-form-submit">	
    			<form id="feedback-form feedback-form-submit" @submit="addFeedback">
            <div class="form-inline name-rating">
              <label class="label-form" for="username">Name: </label>
              <input class="form-control" type="text" id="usrname" v-model="usrname" name="username"> &nbsp; &nbsp;
              <label class="label-form" for="Rating">Rating: </label>
              <input class="form-control" type="number" id="rating" v-model="rating" min="0" max="10" name="Rating">
            </div>
    				<textarea class="form-control feedback-textarea" v-model="comment" id="feedback" placeholder="Input feedback here...">
    				</textarea>
    				<br>
    				<input id="submit-feedback" class="btn btn-default btn-submit" type="submit" value="Submit">
    			</form>
        </div>
      </main>

		</div>
    </div>
  </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
