<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TA Rate - CheckMyClass</title>

    <!-- Bootstrap core CSS -->
    <link href="../minified-css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Custom styles for this template -->
    <link href="../minified-css/main.min.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../minified-js/rate.min.js"></script>
  </head>

  <body>
    <div id="database" >CSE 123 - CheckMyClass</div>
    <div class="box center" id = "ta-rating-form">
      <form @submit="rateTA">
        <h3 class="box-label">Rate TA</h3>
        <br>
        <div>
          <label>Helpfulness (out of 10)</label>
          <input class="form-control help" v-model="ta_helpfulness" type="number" min="0" max="10" name="Helpfulness" required>
        </div>
        <br>
        <div>
          <label>Overall Rating (out of 10)</label>
          <input class="form-control rating" v-model="ta_rating" type="number" min="0" max="10" name="Rating" required>
        </div>
        <br>
        <button type="cancel" formnovalidate class="btn btn-default btn-cancel pull-left" formaction="./ta.html">Cancel</button>
        <button type="submit" class="btn btn-default btn-submit pull-right"  formaction="./ta.html">Submit</button>
      </form> 
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>